[Unit]
Description=flask-app
After=network.target

[Service]

WorkingDirectory=/home/vmrgroup/app
ExecStart=/home/vmrgroup/app/env/bin/python app.py
User=vmrgroup


[Install]
WantedBy=multi-user.target
