[Unit]
Description=flask-app
After=network.target

[Service]

WorkingDirectory=/home/vmrgroup/app
ExecStart=/home/vmrgroup/app/venv/bin/python app.py
User=vmrgroup
Restart=always

[Install]
WantedBy=multi-user.target
