[Unit]
Description=Gunicorn instance to serve app
After=network.target

[Service]

WorkingDirectory=/home/vmrgroup/app
Environment="PATH=/home/vmrgroup/app/env/bin"
ExecStart=/home/vmrgroup/app/env/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app
User=vmrgroup
Group=www-data

[Install]
WantedBy=multi-user.target
